input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {display:none;}
.woocommerce-result-count {display:none;}
ul.woocommerce_message,
ul.woocommerce-message,
ul.woocommerce_error,
ul.woocommerce-error,
ul.woocommerce_info,
ul.woocommerce-info {
	margin-left:0;
}
.woocommerce_message, 
.woocommerce_error, 
.woocommerce_info,
.woocommerce-message, 
.woocommerce-error, 
.woocommerce-info {
    padding: 20px;
    margin: 0 0 20px;
    position: relative;
    list-style: none outside;
    width: auto;
	border:1px solid #ededed;
}
.woocommerce_message .button, 
.woocommerce_error .button, 
.woocommerce_info .button,
.woocommerce-message .button, 
.woocommerce-error .button, 
.woocommerce-info .button {
    float: right;
	margin-top:-7px;
}
.woocommerce_message li, 
.woocommerce_error li, 
.woocommerce_info li,
.woocommerce-message li, 
.woocommerce-error li, 
.woocommerce-info li {
    list-style: none outside;
}
.woocommerce_message,
.woocommerce-message {
	background:#FCF7D9;
	border:1px solid #EAE2B4;
}
.woocommerce_info,
.woocommerce-info {
	background:#D8ECF5;
	border:1px solid #C2E0ED;
}
.woocommerce_error,
.woocommerce-error {
	background:#F5D1D3;
	border:1px solid #EFB3B6;
}
p.demo_store {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-size: 1em;
    padding: .5em 0;
    text-align: center;
    background: #E07B7B;
    color: #fff;
    z-index: 999999;
}
small.note {
    display: block;
    color: #777;
    font-size: 11px;
    line-height: 21px;
    margin-top: 10px;
}

.col2-set {width: 100%}
.col2-set:after {content: "";display: block;clear: both;}
.col2-set .col-1 {float: left;width: 48%}
.col2-set .col-2 {float: right;width: 48%}
div.product, #content div.product {margin-bottom: 0;position: relative;}
.div.product .product_title, #content div.product .product_title {
    clear: none;
    margin-top: 0;
    padding: 0;
	color: #282727;
}
div.product span.price ins, #content div.product span.price ins, div.product p.price ins, #content div.product p.price ins {
    background: inherit;
}
div.product p.stock, #content div.product p.stock {font-size: .92em;color: #E07B7B;}
div.product .stock, #content div.product .stock {color: #rgba(145, 145, 145, 0.5);}
div.product .out-of-stock, #content div.product .out-of-stock {color: red;}
div.product div.images, #content div.product div.images {
    border: 1px solid #ededed;
    float: left;
    padding: 19px;
    /*width: 420px;*/
	width:360px;
    margin-bottom: 30px;
}
div.product div.images img, #content div.product div.images img {
    display: block;
    width: auto;
    height: auto;
	margin:0 auto;
	box-shadow: #000 0em 0em 0em;
}
div.product div.images div.thumbnails:after, #content div.product div.images div.thumbnails:after {
    content: "";
    display: block;
    clear: both;
}
div.product div.images div.thumbnails a, 
#content div.product div.images div.thumbnails a {
    float: left;
    width: 90px;
	padding:10px;
    margin-right: 12px;
	margin-top: 20px;
	border:1px solid #ededed;
	
	-webkit-transition: all ease-in-out .2s;
    -moz-transition: all ease-in-out .2s;
    -o-transition: all ease-in-out .2s;
    transition: all ease-in-out .2s;
}

div.product div.images div.thumbnails a:hover, 
#content div.product div.images div.thumbnails a:hover {
	border:1px solid #CEDBE1;
}
div.product div.images div.thumbnails a.last, #content div.product div.images div.thumbnails a.last {
    margin-right: 0;
}
div.product div.images div.thumbnails a.first, #content div.product div.images div.thumbnails a.first {
    clear: both;
}
div.product div.summary, #content div.product div.summary {
    float: right;
}
div.product div.social, #content div.product div.social {
    text-align: right;
    margin: 0 0 1em;
}
div.product div.social span, #content div.product div.social span {
    margin: 0 0 0 2px;
}
div.product div.social span span, #content div.product div.social span span {
    margin: 0;
}
div.product div.social span .stButton .chicklets, #content div.product div.social span .stButton .chicklets {
    padding-left: 16px;
    width: 0;
}
div.product div.social iframe, #content div.product div.social iframe {
    float: left;
    margin-top: 3px;
}
div.product p.cart, #content div.product p.cart {
    float: right;
}
div.product form.cart, #content div.product form.cart {
    margin-bottom: 2em;
}
div.product form.cart:after, #content div.product form.cart:after {
    content: "";
    display: block;
    clear: both;
}
div.product form.cart div.quantity, #content div.product form.cart div.quantity {
    float: left;
    margin: 0 4px 0 0;
}
div.product form.cart table, #content div.product form.cart table {
    border-width: 0 0 1px 0;
}
div.product form.cart table div.quantity, #content div.product form.cart table div.quantity {
    float: none;
    margin: 0;
}
div.product form.cart table small.stock, #content div.product form.cart table small.stock {
    display: block;
    float: none;
}
div.product form.cart .variations, #content div.product form.cart .variations {
    margin-bottom: 20px;
	width: 100%;
}
div.product form.cart .variations label, #content div.product form.cart .variations label {
    font-weight: bold;
}
div.product form.cart .variations td.label, #content div.product form.cart .variations td.label {
	padding-left:0;
	padding-top:13px;
}
div.product form.cart .variations td, #content div.product form.cart .variations td {
    padding:5px;
	margin:0;
	vertical-align:top;
	border:0;
}
div.product form.cart .button, #content div.product form.cart .button {
    vertical-align: middle;
    float: left;
}
div.product form.cart .group_table td.label, #content div.product form.cart .group_table td.label {
    padding-right: 1em;
    padding-left: 1em;
}
div.product form.cart .group_table td, #content div.product form.cart .group_table td {
    vertical-align: top;
}
.div.product form.cart .group_table td.price,
#content div.product form.cart .group_table td.price {
	margin-bottom:0;
	display:table-cell;
}
.single-product .type-product span.onsale {
	position:absolute;
	left:20px;
	top:20px;
	z-index:99999;
}
span.onsale {
	color:#e07b7b;
	border:2px solid #e07b7b;
	padding:5px;
	display:inline-block;
	margin-bottom:10px;
	text-transform:uppercase;
	background:#fff;
}
.category-img {border: 1px solid #EDEDED;float: left;position: relative;}
.products ul, ul.products {
    margin: 0 0 14px;
    padding: 0;
    list-style: none outside;
    clear: both;
}
.products ul:after, ul.products:after {
    content: "";
    display: block;
    clear: both;
}
.products ul li, ul.products li {
    list-style: none outside;
}
.related:after, .upsells.products:after {
    content: "";
    display: block;
    clear: both;
}
.upsells { margin-top: 16px;}
.related { margin-top:30px}
.related h2,
.upsells h2 {
	font-size: 18px;
    margin:15px 0;
}
.related ul.products, .upsells.products ul.products, .related ul, .upsells.products ul {float: none;}
ul.products li.product {
    float: left;
    position: relative;
    margin-left: 0;
	border:	1px solid #ededed;
	
	transition : border 500ms ease-out; 
	-webkit-transition : border 500ms ease-out; 
	-moz-transition : border 500ms ease-out;
	-o-transition : border 500ms ease-out;
}
ul.products li.product div.excerpt{ display: none;}
ul.products li.product:hover {border: 1px solid #CEDBE1;}
ul.products.list li.product div.excerpt{ display:block;}

ul.products.list li.product .onsale,
ul.products.list li.product img{
	float:left;
	margin-right:40px;
}
ul.products li.product h3 {color: #282727;margin-bottom:15px;}
ul.products.list li.product a {float:none;}
ul.products li.product a {text-decoration: none;display:block;}
ul.products li.product a.added_to_cart {padding-top:12px;}
ul.products li.product a.button.product_type_variable {display:inline-block;}
ul.products li.product a:hover {color:#282727;}
ul.products li.product a.added_to_cart:hover {color: #E07B7B;}
ul.products li.product a img {
    height: auto;
    display: block;
    margin: 0 auto 15px;
}
ul.products li.product strong {display: block;}
ul.products li.product .price .amount { font-weight:normal;}
ul.products li.product .price,
.summary .price {
    display: block;
    font-weight: normal;
    margin-bottom: 15px;
	font-size:18px;
	color:#E07B7B;
}
ul.products li.product .price del .amount {color: #E07B7B;}
ul.products li.product .price del,
.summary .price del,
.product_list_widget li del {
    font-size: 12px;
    color: #E07B7B;
    margin: -2px 0 0 0;
}
ul.products li.product .price ins,
.summary .price ins,
.product_list_widget li ins {
	text-decoration:none;
}
ul.products li.product .price .from,
ul.products li.product .price .to,
.summary .price .from,
.summary .price .to{
    font-size: 12px;
    margin: -2px 0 0 0;
    text-transform: uppercase;
    color: #ddd;
}

.flexslider ul.products li,
.flexslider ul.products { margin-bottom:0;}
.flexslider ul.products li.first { clear:none !important;}
ul.products li.last {margin-right: 0px;}
ul.products li.first {
    clear: both;
}
.grid-switch {position: absolute;right:190px;top:33px;line-height:normal;}
.grid-switch a{
	display:inline-block;
	font-size:16px;
	text-transform:uppercase;
	color:#999;
	position:relative;
	top:0;
	border-right: 1px solid #DDDDDD;
	padding: 0 10px 0 0;
	line-height:10px;
}
.grid-switch a#grid{border:0; padding-right:7px;}
.grid-switch a:hover,
.grid-switch a.active {color: #E07B7B;}
.woocommerce-ordering {position: absolute;right:0;top:32px;line-height:normal;}
.woocommerce-ordering select{
    position:relative;
    z-index:10;
	border: 0;
	width:180px;
	font-size:10px;
	text-transform:uppercase;
	padding:0;
}

/* dynamically created SPAN, placed below the SELECT */
.woocommerce-ordering span.select{
    position:absolute;
    bottom:0;
    float:left;
    left:0;
    background: url(../images/select_dropdown.png) right 2px no-repeat;
    cursor:default;
    z-index:1;
	width:100%;
	font-size:10px;
	text-transform:uppercase;
	color:#999;
}
ul.products li.product a.add_to_cart_button {display:inline-block;}
a.button, button.button, input.button, #respond input#submit, #content input.button {
    margin: 0;
    cursor: pointer;
    position: relative;
    overflow: visible;
    padding: 8px 12px;
    text-decoration: none;
	font-family:inherit;
	line-height:16px;
	
	-moz-box-shadow: inset 0 3px 0 #eaf0f3;
	-webkit-box-shadow: inset 0 3px 0 #eaf0f3;
	box-shadow: inset 0 3px 0 #eaf0f3;
	
    color: #899AA1;
	text-shadow: 1px 1px 0 #EFF4F6;
	font-weight:bold;
	font-size:11px;
	
    border: 1px solid #cedbe1;
    background-color: #dee7eb;
	text-transform:uppercase;
	
	transition : border 500ms ease-out; 
	-webkit-transition : border 500ms ease-out; 
	-moz-transition : border 500ms ease-out;
	-o-transition : border 500ms ease-out; 
    
}
a.button.loading, button.button.loading, input.button.loading, #respond input#submit.loading, #content input.button.loading {
    color: #777;
    border: 1px solid #f7f6f7;
}
a.button.loading:before, button.button.loading:before, input.button.loading:before, #respond input#submit.loading:before, #content input.button.loading:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url(../images/woo-icn/ajax-loader.gif) center no-repeat rgba(255, 255, 255, 0.65);
}
a.button.added:before, button.button.added:before, input.button.added:before, #respond input#submit.added:before, #content input.button.added:before {
    content: "\2714";
    position: absolute;
    top: .35em;
    right: -30px;
    text-indent: 0;
	font-size:21px;
	color:#E07B7B;
}
a.button:hover, button.button:hover, input.button:hover, #respond input#submit:hover, #content input.button:hover {
	border: 1px solid #7794b3;
    text-decoration: none;
	color: #899AA1 !important;	
}
.single_add_to_cart_button,
.single_add_to_cart_button:hover {
	padding-left:58px !important;
	text-align:left;
	position:relative;
}
.single_add_to_cart_button:before {
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:32px;
	border-right:1px solid #cfdce3;
	background: url(../images/minicart-icn.png) center center no-repeat;
	content:'';
}
.cart .button, .cart input.button {float: none;}
.quantity, #content .quantity {
    width: 60px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}
.quantity input.qty, 
#content .quantity input.qty {
    width: 40px;
    height: 32px;
    float: left;
    padding: 0;
    text-align: center;
	
	background: url(../images/input-shadow.png) left top repeat-x;	
	border: 1px solid #d9d9d9;
	color: #b6b6b6;

}
.quantity .plus, #content .quantity .plus, .quantity .minus, #content .quantity .minus {
    display: block;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 20px;
    height: 18px;
    overflow: visible;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #5e5e5e;
    border: 1px solid #cfdde4;
    background: #dee7eb;
	border-radius:0;

}

.quantity .plus, #content .quantity .plus {
    top: 0;
    right: 0;
}
.quantity .minus, #content .quantity .minus {
    bottom: 0;
    right: 0;
}
#reviews h2 small {
    float: right;
    color: #777;
    font-size: 15px;
    line-height: 21px;
    margin: 10px 0 0 0;
}
#reviews h2 small a {text-decoration: none;color: #777;}
#reviews h3 {margin: 0;}
#reviews #respond {margin: 0;border: 0;padding: 0;}
#reviews #comment {height: 75px;}
#reviews #comments .add_review:after {
    content: "";
    display: block;
    clear: both;
}
#reviews #comments h2 {clear: none;}
#reviews #comments ol.commentlist {margin: 0;width: 100%;background: 0;}
#reviews #comments ol.commentlist:after {content: "";display: block;clear: both;}
#reviews #comments ol.commentlist li {padding: 0;margin: 0 0 20px;position: relative;background: 0;border: 0;}
#reviews #comments ol.commentlist li .meta {color: #777;font-size: .75em;}
#reviews #comments ol.commentlist li img {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px;
    width: 32px;
    height: auto;
    border: 1px solid #EDEDED;
    margin: 0;
    line-height: 1;
}
#reviews #comments ol.commentlist li .comment-text {margin: 0 0 0 50px;border: 1px solid #EDEDED;padding: 1em 1em 0;}
#reviews #comments ol.commentlist li .comment-text p {margin: 0 0 1em;}
#reviews #comments ol.commentlist li .comment-text p.meta {font-size: .83em;}
#reviews #comments .commentlist>li:before {content: ""}
.star-rating {
    float: right;
    width: 80px;
    height: 16px;
    background: url(../images/woo-icn/star.png) repeat-x left 0;
}
.star-rating span {
    background: url(../images/woo-icn/star.png) repeat-x left -32px;
    height: 0;
    padding-top: 16px;
    overflow: hidden;
    float: left;
}
.hreview-aggregate .star-rating {margin: 10px 0 0 0;}
#review_form #respond {
    position: static;
    margin: 0;
    width: auto;
    padding: 0;
    background: transparent none;
    border: 0;
}
#review_form #respond:after {content: "";display: block;clear: both;}
#review_form #respond p {margin: 0 0 10px;}
#review_form #respond .form-submit input {left: auto;}
#review_form #respond textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
p.stars:after {content: "";display: block;clear: both;}
p.stars span {
    width: 80px;
    height: 16px;
    position: relative;
    float: left;
    background: url(../images/woo-icn/star.png) repeat-x left 0;
}
p.stars span a {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 0;
    padding-top: 16px;
    overflow: hidden;
}
p.stars span a:hover, p.stars span a:focus {
    background: url(../images/woo-icn/star.png) repeat-x left -16px;
}
p.stars span a.active {
    background: url(../images/woo-icn/star.png) repeat-x left -32px;
}
p.stars span a.star-1 {width: 16px;z-index: 10;}
p.stars span a.star-2 {width: 32px;z-index: 9;}
p.stars span a.star-3 {width: 48px;z-index: 8;}
p.stars span a.star-4 {width: 64px;z-index: 7;}
p.stars span a.star-5 {width: 80px;z-index: 6;}
table.shop_attributes {
    border: 0;
    border-top: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 1.618em;
    width: 100%;
}
table.shop_attributes th {
    width: 150px;
    font-weight: bold;
    padding: 8px;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin: 0;
    line-height: 1.5em;
}
table.shop_attributes td {
    font-style: italic;
    padding: 0;
    border-top: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin: 0;
    line-height: 1.5em;
	padding-left:10px;
}
table.shop_attributes td p {margin: 0;padding: 8px 0;}
table.shop_attributes .alt td, table.shop_attributes .alt th {background: rgba(0, 0, 0, 0.025);}
table.shop_table {margin: 0 -1px 24px 0;text-align: left;width: 100%;}
table.shop_table th {font-weight: bold;line-height: 18px;padding: 9px 12px;}
table.shop_table td.product-quantity {text-align: center;}
table.shop_table tfoot td {font-weight: bold;}
table.my_account_orders {font-size: .85em;}
table.my_account_orders th, table.my_account_orders td {padding: 4px 8px;vertical-align: top;}
table.my_account_orders .button {white-space: nowrap;display:inline-block;}
td.product-name dl.variation {margin: .25em 0 .5em;font-size: .8751em;}
td.product-name dl.variation dt {
    font-weight: bold;
    float: left;
    clear: left;
    margin: 0 .25em 0 0;
    padding: 0;
}
td.product-name dl.variation dd {margin: 0 0 .25em 0;}
td.product-name p.backorder_notification {font-size: .83em;}
td.product-quantity {min-width: 80px;}
table.cart .product-thumbnail, #content table.cart .product-thumbnail {min-width: 32px;text-align:center;}
table.cart img, #content table.cart img {width: 32px;height: auto;}
table.cart th, #content table.cart th, table.cart td, #content table.cart td {vertical-align: middle;}
table.cart a.remove, #content table.cart a.remove {
    display: block;
    height: 16px;
    width: 16px;
    text-indent: -9999px;
    background: url(../images/woo-icn/remove.png) #e0dadf;
	margin:0 auto;
}
table.cart a.remove:hover, #content table.cart a.remove:hover {background-color: red;}
table.cart td.actions, #content table.cart td.actions {text-align: right;padding: 20px 10px;}
table.cart td.actions .coupon, #content table.cart td.actions .coupon {float: left;}
table.cart td.actions .coupon label, #content table.cart td.actions .coupon label {display: none;}
table.cart td.actions .coupon .input-text, #content table.cart td.actions .coupon .input-text {
    width: 80px;
    float: left;
    padding: 7px 18px;
	margin-right: 3px;
}
table.cart td.actions .button.alt, #content table.cart td.actions .button.alt {float: right;margin-left: .25em;}
table.cart input, #content table.cart input {margin: 0;vertical-align: middle;line-height: 1em;}

ul.cart_list, ul.product_list_widget {list-style: none outside;padding: 0;margin: 0;}
ul.cart_list li, ul.product_list_widget li {padding: 4px 0;margin: 0;list-style: none;}
#footer ul.product_list_widget li {
    padding: 4px 0 !important;
    list-style: none;
	background:none !important;
}
ul.cart_list li:after, ul.product_list_widget li:after {content: "";display: block;clear: both;}
ul.cart_list li a, ul.product_list_widget li a {display: block;}
ul.cart_list li img, ul.product_list_widget li img {
    float: right;
    margin-left: 4px;
    width: 32px;
    height: auto;
	padding:3px;
	border: 1px solid #ededed;
}
#footer ul.cart_list li img,
#footer ul.product_list_widget li img  {border: 1px solid #4a4a4a;}
ul.cart_list li dl, ul.product_list_widget li dl {
    margin: 0;
    font-size: .8751em;
    padding-left: 1em;
	background: url("../images/hr-sep-bullet.png") no-repeat scroll left 7px transparent;
	color:#98C0D6;
}
ul.cart_list li dl dt, ul.product_list_widget li dl dt {
    float: left;
    clear: left;
    margin-right: .25em;
}
ul.cart_list li dl dd, ul.product_list_widget li dl dd {margin-bottom: .5em;}
ul.cart_list li .star-rating, ul.product_list_widget li .star-rating {float: none;}
.widget_shopping_cart .total {border-top: 3px double #f7f6f7;padding: 4px 0 0;}
.widget_shopping_cart .total strong {min-width: 40px;display: inline-block;}
.widget_shopping_cart .buttons:after {content: "";display: block;clear: both;}
.cart-collaterals {width: 100%}
.cart-collaterals:after {content: "";display: block;clear: both;}
.cart-collaterals .related {width: 30.75%;float: left;}
.cart-collaterals .cross-sells {width: 48%;float: left;}
.cart-collaterals .cross-sells ul.products {float: none;}
.cart-collaterals .cross-sells ul.products li {width: 48%}
.cart-collaterals .shipping_calculator {
    width: 48%;
    text-align: right;
    margin: 20px 0 0 0;
    clear: right;
    float: right;
}
.cart-collaterals .shipping_calculator:after {
    content: "";
    display: block;
    clear: both;
}
.cart-collaterals .shipping_calculator .button {
    width: 100%;
    float: none;
    display: block;
}
.cart-collaterals .shipping_calculator .col2-set .col-1, .cart-collaterals .shipping_calculator .col2-set .col-2 {
    width: 47%}
.cart-collaterals .cart_totals {
    float: right;
    width: 48%;
    text-align: right;
}
.cart-collaterals h2 { font-size:18px;}
.cart-collaterals .cart_totals p {margin: 0;}
.cart-collaterals .cart_totals p small {color: #777;font-size: .83em;}
.cart-collaterals .cart_totals table {
    margin: 0 0 6px;
    padding: 0;
	width:100%;
}
.cart-collaterals .cart_totals table td, .cart-collaterals .cart_totals table th {padding: 6px 3px;}
.cart-collaterals .cart_totals table small {display: block;color: #777;}
.cart-collaterals .cart_totals table select {width: 100%}
.cart-collaterals .cart_totals .discount td {color: #rgba(145, 145, 145, 0.5);}
.cart-collaterals .cart_totals tr td, .cart-collaterals .cart_totals tr th {border-top: 1px solid #f7f6f7;padding: 6px 6px;}
.cart-collaterals .cart_totals a.button.alt {
    width: 193px;
    display: block;
    font-size: .92em;
}
form .form-row {padding: 3px;margin: 0 0 6px;}
form .form-row:after {content: "";display: block;clear: both;}
form .form-row label {display: block;}
form .form-row label.hidden {visibility: hidden;}
form .form-row select {width: 100%;cursor: pointer;margin: 0;}
form .form-row .required {color: red;font-weight: bold;border: 0;}
form .form-row .input-checkbox {
    display: inline;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
}
form .form-row label.checkbox {display: inline;}
form .form-row input.input-text, form .form-row textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
}
form .form-row textarea {
    line-height: 1.5em;
    display: block;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
form .form-row-first, form .form-row-last {float: left;width: 47%;overflow: visible;}
form .form-row-last {float: right;}
form.login, form.checkout_coupon, form.register {
    border: 1px solid #e0dadf;
    padding: 20px;
    margin: 2em 0 2em 0;
    text-align: left;
}
ul#shipping_method {list-style: none outside;margin: 0; padding: 0;}
ul#shipping_method li {margin: 0;padding: .25em 0 .25em 22px;text-indent: -22px;list-style: none outside;}
ul#shipping_method li label{ display:inline;}
ul#shipping_method .amount {font-weight: bold;}
.checkout .col-2 h3 {float: left;clear: none;}
#shiptobilling + h3 { float:none;}
.checkout .col-2 .notes {clear: left;}
.checkout .col-2 .form-row-first {clear: left;}
.checkout div.shipping-address {padding: 0;clear: left;width: 100%}
.checkout #shiptobilling {float: right;line-height: 1.62em;margin: 0;padding: 0;}
.checkout #shiptobilling label {font-size: .6875em;}
#payment {background: #F9F9F9;border: 1px solid #E8E4E3;}
#payment ul.payment_methods {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #e0dadf;
    margin: 0;
    list-style: none outside;
}
#payment ul.payment_methods:after {content: "";display: block;clear: both;}
#payment ul.payment_methods li {line-height: 2em;text-align: left;margin: 0;font-weight: normal;}
#payment ul.payment_methods li input {margin: .4em .6em 0 0;}
#payment ul.payment_methods li img {vertical-align: middle;margin: -2px 0 0 .5em;position: relative;}
#payment div.form-row {padding: 1em;border-top: 1px solid #fff;}
#payment #place_order {float: right;margin: 0;}
#payment .terms {padding: 0 1em 0;text-align: right;}
#payment div.payment_box {
    position: relative;
    width: 96%;
    padding: 1em 2%;
    margin: 1em 0 1em 0;
    line-height: 1.5em;
    background: #E07B7B;
    color: #fff;
}
#payment div.payment_box p:last-child {margin-bottom: 0;}
#payment div.payment_box #cc-expire-month, #payment div.payment_box #cc-expire-year {
    width: 48%;
    float: left;
}
#payment div.payment_box #cc-expire-year {float: right;}
#payment div.payment_box span.help {
    font-size: 11px;
    color: #777;
    line-height: 13px;
    font-weight: normal;
}
#payment div.payment_box .form-row {margin: 0 0 1em;}
#payment div.payment_box .form-row select {width: 48%;float: left;margin-right: 3.8%}
#payment div.payment_box .form-row select:nth-child(3n) {margin-right: 0;}
.woocommerce-page p.myaccount_user + h2,
.woocommerce-page ul.digital-downloads + h2,
.woocommerce-page .shop_table.my_account_orders + h2,
.woocommerce-page p.order-info + h2,
.woocommerce-page .shop_table.order_details + header h2{
	font-size:18px;
}
.woocommerce-page .addresses h3 { font-size:14px; font-weight:bold;}
.customer_details { margin-bottom:20px;}
.addresses a.edit {color:#98C0D6;display:block;}
.order_details {margin: 0 0 1.5em !important;list-style: none;}
.order_details:after {content: "";display: block;clear: both;}
.order_details li {
    float: left;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: .715em;
    line-height: 1em;
    border-right: 1px dashed #e0dadf;
    padding-right: 2em;
	list-style:none;
}
.order_details li strong {display: block;font-size: 1.4em;text-transform: none;line-height: 1.5em;}
.order_details li.method {border: 0;}
.addresses .title:after {content: "";display: block;clear: both;}
.addresses .title h3 {float: left;}
.addresses .title .edit {float: right;}
ol.commentlist.notes li.note p.meta {font-weight: bold;margin-bottom: 0;}
ol.commentlist.notes li.note .description p:last-child {margin-bottom: 0;}
ul.digital-downloads {margin-left: 0;padding-left: 0;}
ul.digital-downloads li {list-style: none;padding-left: 12px;position: relative;}
ul.digital-downloads li:before {
    color: #00A8FF;
    content: "\271C";
    display: block;
    font-size: 4px;
    left: 0;
    position: absolute;
    top: 0;
}
ul.digital-downloads li .count {float: right;}
.widget_layered_nav ul {margin: 0;padding: 0;border: 0;list-style: none outside;}
.widget_layered_nav ul li {padding: 0 0 1px;list-style: none;}
.widget_layered_nav ul li:after {content: "";display: block; clear: both;}
.widget_layered_nav ul li a, .widget_layered_nav ul li span {padding: 1px 0;float: left;}
.widget_layered_nav ul li.chosen a {
    padding: 0 6px 0 18px;
    border: 1px solid #E07B7B;
    background: #E07B7B url(../images/woo-icn/cross_white.png) no-repeat 6px center;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5) #888;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.widget_layered_nav ul small.count {float: right;margin-left: 6px;font-size: 1em;padding: 1px 0;color: #777;}
.widget_price_filter .price_slider {margin-bottom: 1em;}
.widget_price_filter .price_slider_amount {text-align: right;line-height: 2.4em;font-size: .8751em;}
.widget_price_filter .price_slider_amount .button {font-size: 1.15em;}
.widget_price_filter .price_slider_amount .button {float: left;}
.widget_price_filter .ui-slider {position: relative;text-align: left;}
.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: .9em;
    height: .9em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    border: 1px solid #9cabb2;
    cursor: pointer;
    background: #DEE7EB;
    outline: 0;
    top: -0.3em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.65);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.65);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.65);
}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {margin-left: -1em;}
.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: #E07B7B;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background: #DEE7EB;
}
.widget_price_filter .ui-slider-horizontal {height: .5em;}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {top: 0;height: 100%}\
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {left: -1px;}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {right: -1px;}

.woocommerce_tabs ul.tabs,
.woocommerce-tabs ul.tabs {margin-bottom: -1px;margin-left: 2.618em;}
.woocommerce_tabs ul.tabs li,
.woocommerce-tabs ul.tabs li {
	width: auto;
	float: left;
	clear: none;
	margin-bottom: 0;
	margin-left:-1px;
}
.woocommerce_tabs ul.tabs li:nth-child(2n),
.woocommerce-tabs ul.tabs li:nth-child(2n) {float: left;clear: none;}
.woocommerce_tabs ul.tabs li a,
.woocommerce-tabs ul.tabs li a {
	border-bottom: 0;
	background: #f9f9f9;
	color: #6c6360;
	display: block;
	font-weight: bold;
	padding: 12px 18px;
	border: 1px solid #E8E4E3;

}
.woocommerce_tabs ul.tabs li a:hover,
.woocommerce-tabs ul.tabs li a:hover {color: #98C0D6;}
.woocommerce_tabs ul.tabs li.active,
.woocommerce-tabs ul.tabs li.active {position: relative;}
.woocommerce_tabs ul.tabs li.active:before,
.woocommerce-tabs ul.tabs li.active:before {
	content: "";
	display: block;
	position: absolute;
	top: -0.236em;
	left: 0;
	right: 0;
	height: .236em;
	background: #98C0D6;
	border-top: 1px solid #98C0D6;
}
.woocommerce_tabs ul.tabs li.active a,
.woocommerce-tabs ul.tabs li.active a {
	position: relative;
	background: #fff;
	box-shadow: 0 1px 2px 0 #e8e4e3;
	-webkit-box-shadow: 0 1px 2px 0 #e8e4e3;
	color: #98C0D6;
	border-top-color: #98C0D6;
}
.woocommerce_tabs ul.tabs li.active a:after,
.woocommerce-tabs ul.tabs li.active a:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -4px;
	left: 0;
	right: 0;
	height: 4px;
	background: #fff;
}
.woocommerce_tabs .panel,
.woocommerce-tabs .panel {background: #fff;padding: 30px;border: 1px solid #e8e4e3;}
.woocommerce_tabs .panel h2,
.woocommerce-tabs .panel h2 { font-size:18px;}
.woocommerce_tabs table.shop_attributes p,
.woocommerce-tabs table.shop_attributes p {margin-bottom: 0;}
.woocommerce_tabs ul.tabs li.active a,
.woocommerce-tabs ul.tabs li.active a {border-color: #C6C2C1;border-top:0;}
.single-product .woocommerce_tabs,
.single-product .woocommerce-tabs {clear: both;}
.woocommerce_tabs ul.tabs:after,
.woocommerce-tabs ul.tabs:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.product_meta {
    color: #8E8E8E;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
	padding-top:20px;
	border-top:1px solid #ededed;
}
.product_meta span {clear:both;}
a.reset_variations {display:inline-block;margin-left:10px;}
mark { background:#def3ff;}
.customer_details dt{float: left;font-weight: bold; margin-right: 10px;}

/* WC Header minicart */
#header .header_mini_cart ul li ul.cart_list {
    position: absolute;
    top: 36px;
    z-index: 9999;
    background:#e0e8ed;
	border:1px solid #D9D9D9;
	border-top: none;
}
#header .header_mini_cart ul li ul.cart_list li {
    float: none;
    margin-right: 0;
    padding: 0;
    border: 0;
    position: relative;
    z-index: 9999;
    background: none;
  }
#header .header_mini_cart ul li ul.cart_list li a {
    border-right: 0;
    display: block;
    padding: 0.236em 1em;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
  }
#header .header_mini_cart ul li ul.cart_list li.empty {padding: 0 1em 0.618em 1em;text-align: center;}
#header .header_mini_cart ul li ul.cart_list li ul.sub-menu,
#header .header_mini_cart ul li ul.cart_list li ul.children {
    top: 0;
    left: 0;
    background: #eff0f1;
    padding: .618em 0;
    display: none;
    border-top: 0;
}      
#header .header_mini_cart ul li ul.cart_list li:first-child ul.sub-menu,
#header .header_mini_cart ul li ul.cart_list li:first-child ul.children {
    background: #edeeef;
    padding: 1em 0 .618em;
    top: -1em;
    display: none;
}
#header .header_mini_cart ul li:first-child:hover ul.cart_list,
#header .header_mini_cart ul li ul.cart_list li:hover ul.sub-menu,
#header .header_mini_cart ul li ul.cart_list li:hover ul.children {
  display: block;
}
#header .header_mini_cart ul li ul.cart_list {padding: 0;}
#header .header_mini_cart ul.mini-cart {
	float: right;
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
#header .header_mini_cart ul.mini-cart li {width: auto;}
#header .header_mini_cart ul.mini-cart li a.cart-parent {
	background: url(../images/minicart-arrow-icn.png) right center no-repeat,
				url(../images/input-shadow.png) left top repeat-x;	
	border: 1px solid #d9d9d9;
	color: #b6b6b6;
	outline: 0;
	padding: 8px 50px 9px 55px;
	float:left;
	width: 171px;
	position:relative;
}
#header .header_mini_cart ul.mini-cart li a.cart-parent:before {
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:35px;
	border-right:1px solid #cfdce3;
	background:#E0E8ED url(../images/minicart-icn.png) center center no-repeat;
	content:'';
}
#header .header_mini_cart ul.mini-cart li ul.cart_list {
	left: auto;
	right: 0;
	width: 276px;
	padding: 0;
	margin: 0;
	display:none;
	z-index:99999;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li {
	padding: 0.618em 1em;
	border: 0;
	border-top: 1px solid #dddedf;
	font-size: 0.875em;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart-title {
	border: 0;
	text-align: center;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart-title h4 {
	padding: 10px 0;
	margin:0;
	color:#B1C7D3;
	text-shadow:1px 1px 0 #e7eef1;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart_list_product {
	text-align: left;
	overflow: hidden;
	zoom: 1;
	clear: left;
	background: #f3f4f5;
	box-shadow: inset 0 0 0 1px #ffffff;
	-webkit-box-shadow: inset 0 0 0 1px #ffffff;
	-moz-box-shadow: inset 0 0 0 1px #ffffff;
	-o-box-shadow: inset 0 0 0 1px #ffffff;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart_list_product:first-child {border-top: 0;}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart_list_product img {
	float: right;
	padding: .27em;
	background: #fff;
	margin: 0 0 .27em .27em;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart_list_product a {
	border: 0;
	padding: 0;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
	font-weight: bold;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart_list_product a:hover {
	background: none;
	border: 0;
	padding: 0;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background: none;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart_list_product dl.variation {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 0;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.cart_list_product dl.variation dt {
	float: left;
	clear: left;
	font-weight: 700;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.total {
	text-align: center;
	border-right: 0;
	border-left: 0;
	font-size:12px;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.buttons {
	text-align: center;
	padding: 1em 0;
	background: #f3f4f5;
	box-shadow: inset 0 0 0 1px #ffffff;
	-webkit-box-shadow: inset 0 0 0 1px #ffffff;
	-moz-box-shadow: inset 0 0 0 1px #ffffff;
	-o-box-shadow: inset 0 0 0 1px #ffffff;
}
#header .header_mini_cart ul.mini-cart li ul.cart_list li.buttons .button,
#sidebar ul li.widget_shopping_cart p.buttons .button {
	padding: 5px 7px;
	display: inline-block;
	border: 1px solid #CEDBE1;
	font-size: 10px;
	vertical-align: middle;
	position: relative;
	overflow: visible;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	position: relative;
}
#sidebar ul li.widget_shopping_cart p.buttons .button { font-size:11px;}
#sidebar ul li.widget_shopping_cart p.buttons,
#sidebar ul li.widget_shopping_cart p.total { 
	padding:10px 15px;
	margin:0
}
mark.total-items {color:#494949;background:none;font-weight:bold;}
mark.total-items:after {content:"\2014";padding:0 10px;}
span.amount {color:#e07b7b;}
.mini-cart span.amount {font-weight:bold;}	
.cart_list .total strong:after{
	content:"\2014";
	padding:0 10px;
	margin-right:10px;
}
#sidebar ul li.widget_product_categories,
#sidebar ul li.widget_login,
#sidebar ul li.widget_shopping_cart  {
	background:#E0E8ED;
	color: #3F3F3F;
    display: block;
	border:1px solid #D9D9D9;
	padding-bottom:0;
}
#sidebar ul li.widget_product_categories h3,
#sidebar ul li.widget_login h3,
#sidebar ul li.widget_shopping_cart h3 {
	padding-left:15px;
	color: #B1C7D3;
    text-shadow: 1px 1px 0 #E7EEF1;
    text-transform: uppercase;
}
#sidebar ul li.widget_product_categories ul.product-categories,
#sidebar ul li.widget_login ul.pagenav {margin-bottom:0;}
#sidebar ul li.widget_product_categories ul.product-categories li:before,
#sidebar ul li.widget_login ul.pagenav li:before {content: '';}
#sidebar ul li.widget_product_categories ul.product-categories li,
#sidebar ul li.widget_login ul.pagenav li,
#sidebar ul li.widget_shopping_cart ul.cart_list li {
	background: #f3f4f5;
	box-shadow: inset 0 0 0 1px #ffffff;
	-webkit-box-shadow: inset 0 0 0 1px #ffffff;
	-moz-box-shadow: inset 0 0 0 1px #ffffff;
	-o-box-shadow: inset 0 0 0 1px #ffffff;
	
	padding: 10px 15px;
	border: 0;
	border-top: 1px solid #dddedf;
	margin:0;
}
#sidebar ul li.widget_product_categories ul.product-categories li.current-cat,
#sidebar ul li.widget_product_categories ul.product-categories li.current-cat a,
#sidebar ul li.widget_product_categories ul.product-categories li.current-cat li a:hover {
	color: #E07B7B;
}
#sidebar ul li.widget_product_categories ul.product-categories li.current-cat li,
#sidebar ul li.widget_product_categories ul.product-categories li.current-cat li a {
	color: #5C5C5C;
}
#sidebar ul li.widget_product_categories ul.product-categories li ul { 
	margin:5px 0 0 10px; 
	list-style:none; 
	margin-top:10px;
}
#sidebar ul li.widget_product_categories ul.product-categories li li {
    border: 0;
	box-shadow:none;
	padding: 2px 5px 2px 10px;
	color:#98c0d6;
	font-size:12px;
	position:relative;
}
#sidebar ul li.widget_product_categories ul.product-categories li li:before {
	content:"\271C";
	font-size:4px;
	color:#00a8ff;
    display: block;
    position: absolute;
	left:0;
	top:2px;
    
}
#sidebar ul li.widget_product_categories ul.product-categories li li a {font-size:12px;}
#sidebar ul li.widget_product_categories ul.product-categories li .count {color: #98C0D6;font-size:11px;}

.pp_inline #respond label, .pp_inline #respond .comment-form-rating { display:inline-block; padding-bottom:5px; margin:0;}
.pp_inline #respond input,
.pp_inline #respond textarea { width:95%;}
.pp_inline #respond #submit { width:auto;}
div.pp_pic_holder { z-index:99999 !important;}
.create-account { margin-bottom:20px;}
p.form-row input#createaccount { margin:10px 10px 10px 0 }